---
const footerItems = [
  { href: "/rss.xml", label: "Rss" },
  { href: "https://github.com/cyberobjec", label: "GitHub" },
  { href: "mailto:cyberobj@gmail.com", label: "Email" },
  { href: "https://x.com/guangherizhi", label: "X" },
];
---

<footer class="text-sm text-gray-500 font-en-italic md:text-right">
  <ul class="flex gap-1 py-1.5 md:justify-end">
    {
      footerItems.map((item, index) => (
        <li class="py-2">
          <a href={item.href}>
            {index > 0 && "/"}
            {item.label}
          </a>
        </li>
      ))
    }
  </ul>
  <p>
    © {new Date().getFullYear()} Guanghé. All rights reserved.
  </p>
</footer>
