---
interface Props {
  text?: string;
  size?: number;
}

const { text = "光合", size = 36 } = Astro.props;
---

<a href="/" class="flex items-center gap-2 md:flex-col md:items-end">
  <svg
    width={size}
    height={size}
    viewBox="0 0 160 160"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M80 4C38.0264 4 4 38.0264 4 80C4.00001 121.974 38.0264 156 80 156C121.974 156 156 121.974 156 80L160 80C160 124.183 124.183 160 80 160C35.8172 160 6.06377e-06 124.183 4.13248e-06 80C2.20119e-06 35.8172 35.8172 -1.56562e-06 80 -3.49691e-06C124.183 -5.4282e-06 160 35.8172 160 80L156 80C156 38.0264 121.974 3.99999 80 4Z"
      fill="black"></path>
    <ellipse
      cx="79.9687"
      cy="79.864"
      rx="56.0324"
      ry="28.97"
      transform="rotate(-45 79.9687 79.864)"
      fill="black"></ellipse>
  </svg>

  <span
    class="text-4xl font-bold text-text-blue
       md:mt-2 md:[writing-mode:vertical-lr]"
  >
    {text}
  </span>
</a>
