---
const navItems = [
  { href: "/posts", label: "文章" },
  { href: "/tags", label: "标签" },
  { href: "/about", label: "关于" },
  { href: "/category", label: "分类" },
];

import Toggle from "./Toggle.astro";
import Footer from "./Footer.astro";
---

<nav class="flex justify-between md:flex-col md:gap-y-4 md:items-end">
  <ul class="flex gap-4 md:flex-col">
    {
      navItems.map((item, index) => (
        <li class="py-2">
          <a
            href={item.href}
            class:list={[
              "hover:highlight-underline",
              index === 0 && "highlight-underline",
            ]}
          >
            {item.label}
          </a>
        </li>
      ))
    }
  </ul>
  <Toggle />
</nav>
