---
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';

const posts = (await getCollection('posts')).sort(
  (a: CollectionEntry<'posts'>, b: CollectionEntry<'posts'>) => 
    b.data.date.valueOf() - a.data.date.valueOf() ).slice(0, 5);

---

<div class="space-y-8">
  {posts.map((post: CollectionEntry<'posts'>) => (
    <article class="font-sans-serif ">
      <!-- 标题和日期在一行 -->
      <div class="flex items-baseline gap-4">
        <h2 class="text-xl font-bold  ">
   <a 
  href={`/posts/${post.slug}`}
  class="hover:highlight-underline"
>
  {post.data.title}
</a>
        </h2>
        
        <time class="font-en italic text-sm text-gray-500 whitespace-nowrap">
          {post.data.date.toLocaleDateString('en', {
            year: 'numeric',
            month: 'long',
            day: 'numeric'
          }).replace(/,/g, ' /')}
        </time>
      </div>
      
      <p class="mt-2  leading-relaxed line-clamp-3 ">
        {post.body}
      </p>
    </article>

  
  ))}

<a href="/posts" class="text-center text-sm text-gray-500">&gt;&gt;&gt;&gt;更多文章&lt;&lt;&lt;&lt;</a>
</div>