/* ==================== CSS 变量 ==================== */

:root {
  --bg-black-900: #f2f2fc;
  --bg-black-100: #fdf9ff;
  --bg-black-50: #e8dfec;
  --text-black-900: #302e4d;
  --text-black-700: #504e70;
  --skin-color: #ec1839; /* 👈 添加这个变量 */
  --bg-black-900: #f2f2fc;
}

/* ==================== 全局重置 ==================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

body {
  line-height: 1.5;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-black-900);
}

.main-container {
  margin: 0 auto;
  max-width: 1200px;
  height: 100vh;
  display: grid;
  grid-template-columns: 260px 1fr;
}

.asider {
  width: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 0;

  .logo a {
    font-size: 36px;
    font-weight: bold;
    padding: 20px 40px;
    display: inline-block;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 30px;
      height: 30px;
      border-top: 5px solid var(--skin-color);
      border-right: 5px solid var(--skin-color);
      top: 0;
      right: 0;
    }

    &::before {
      content: "";
      position: absolute;
      width: 30px;
      height: 30px;
      border-bottom: 5px solid var(--skin-color);
      border-left: 5px solid var(--skin-color);
      bottom: 0;
      left: 0;
    }
  }

  .nav {
    margin-top: 400px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    li a {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      font-size: large;
      font-weight: bold;
    }
  }
}

.main-content {
  padding: 64px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.home-img img {
  width: 240px;
}

.nav li a {
  position: relative;
  transition: all 0.3s;
}

.nav li a.active {
  background: linear-gradient(to right, #ffeb3b 0%, #ffeb3b 100%);
  background-size: 100% 8px;
  background-position: 0 88%;
  background-repeat: no-repeat;
}
