---
import "../styles/global.css";
import Layout from "../layout/Layout.astro";

const page = {
  title: "光合",
  description: "光合的个人博客客主页",
  image: "/img/hello.jpg",
};
---

<Layout {...page} lang="en">
  <div class="container mx-auto px-4">
    <h1 class="text-4xl text-blue-500 bg-red-700">Astro</h1>
    <p class="text-lg text-gray-500">光合的个人博客客主页 文章</p>
  </div>
</Layout>
